/* 1. 전체 선택자 */
* {
  color: darkgreen;
}

/* 2. 태그 선택자 */
h3 {
  background-color: orange;
}
p {
  color: rosybrown;
}

/* 3. 클래스 선택자 */
.class1 {
  color: tomato;
}
.class2 {
  font-size: 30px;
}

/* 4. 아이디 선택자 */
#id1 {
  background-color: navy;
}

/* 5. 그룹 선택자 */
#select1,
#select2 {
  background: olivedrab;
}

/* 6. 자식선택자 (>)와 자손선택자 */
#test1 > * {
  background-color: lightpink;
}
#test1 li {
  color: brown;
}
#test1 > ul > li {
  background-color: darkcyan;
}
/* 7. 속성 선택자 */
/* div 요소들 중 name 속성값이 name1과 "일치"하는 요소를 선택 */
div[name="name1"] {
  background: grey;
}
/* div 요소들 중 name 속성값이 name1이 "포함"되어있는 요소를 선택 */
div[name~="name1"] {
  background-color: yellow;
}
/* div 요소들 중 class 속성값이 -c가 "포함"되어있는 요소를 선택*/
div[class*="-c"] {
  color: orangered;
}
/* div 요소들 중 name 속성값이 na로 "시작"되는 요소를 선택 */
div[name^="na"] {
  background-color: powderblue;
}
/* div 요소들 중 class 속성값이 class로 "시작"되는 요소를 선택 */
div[class|="class"] {
  background: green;
}
/* dive 요소들 중 class 속성값이 ss로 끝나는 요소를 선택 */
div[class$="ss"] {
  color: white;
}

/* 8. 형제 선택자 */
/* a + b : a 요소 "바로 뒤"에 있는 b 요소 "하나만" 선택*/
#test2 + div {
  background-color: brown;
}
#test2 + p {
  background-color: aquamarine;
  /* 바로 뒤 요소가 아니라서 제대로 선택 x */
}
/* a ~ b : a 요소 뒤에 "모든" b 요소 선택 */
#test2 ~ div {
  background-color: pink;
}
#test2 ~ p {
  background: indianred;
}

/* 9. 반응 선택자 */
.area {
  width: 100px;
  height: 100px;
  cursor: pointer;
}
/* active : 사용자가 클릭하고 있을때 적용 */
#active-test:active {
  background: navy;
  color: white;
}
/* hover : 마우스가 올라가기만 해도 적용 */
#hover-test:hover {
  background-color: maroon;
  color: white;
}
input[name="userId"]:focus {
  background: pink;
}

/*10. 상태 선택자*/
/* :checked : 체크될때만 사이즈 변경됨 */
input[type="checkbox"]:checked {
  width: 20px;
  height: 20px;
}
button:disabled {
  background: lightseagreen;
}
button:enabled {
  background-color: lightcoral;
}

/* 11. 구조 선택자 */
/* first-child : 첫번째 요소 */
#test3 li:first-child {
  background: darkslategray;
}
/* first-of-type : "해당 유형 중" 첫번째 요소 */
#test3 p:first-of-type {
  color: red;
}
/* last-child : 마지막 요소 */
#test3 li:last-child {
  background-color: burlywood;
}
/* last-of-type : "해당 유형 중" 마지막 요소 */
#test3 li:last-of-type {
  color: chocolate;
}
/* nth-child() : 몇 번째 요소 (두번째는 li가 아닌 p라서 적용이 안됨) */
/* even : 짝수, odd : 홀수 */
#test3 li:nth-child(even) {
  background-color: darkslateblue;
}
/* nth-of-type() : 해당 유형 중 몇번째 요소 */
#test3 li:nth-of-type(5) {
  color: firebrick;
}
/* nth-last-child() : 뒤에서부터 몇번째 요소 */
#test3 li:nth-last-child(4) {
  background-color: hotpink;
}
/* nth-last-of-type() : 해당 유형 중 뒤에서부터 몇번째 요소 */
#test3 li:nth-last-of-type(3) {
  color: powderblue;
}

/* 12. 가상 요소 선택자 */
#test4 p::before {
  content: "앞";
  color: bisque;
  background-color: midnightblue;
}
#test4 p::after {
  content: "뒤";
  color: midnightblue;
  background-color: bisque;
}
