/* 
아래쪽에 쓸수록 우선이지만, 태그 선택자<div> 보다 클래스 선택자 .class 보다 id 선택자 #id 보다 인라인 방식이 가장 우선 */
#id1 {
  background: turquoise;
}
.class1 {
  background: yellowgreen;
  color: red;
}
div {
  background: teal !important;
  color: white !important;
  width: 200px;
  height: 200px;
}
div {
  background: pink;
}
